<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
  <title>Scrubbler</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Scrubbler</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Scrobble
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="singleTrack">Single Track</a></li>
              <li><a class="dropdown-item" href="fromFile">From File</a></li>
              <!-- <li>
                <hr class="dropdown-divider">
              </li> -->
              <li><a class="dropdown-item" href="friendScrobble">Friend Scrobble</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a onclick="logout()" class="nav-link active" href="" aria-current="page">Logout</a>
            </li>
          </ul>
          <a id="profileLink" target="_blank">
            <img id="profileImage" class="avatar" src="img/avatar.png" alt="">
          </a>

          </form>
        </div>
      </div>
  </nav>
  <div class="container">
    <%- body %>
  </div>
</body>

</html>

<style>
  .avatar {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
</style>

<script>
  onLoad();


  async function onLoad() {
    fetchUser();
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  async function fetchUser() {
    try {
      let user = JSON.parse(localStorage.getItem('user'));
      const usernameCookie = getCookie("username")
      if (!user || user.name != usernameCookie) {
        const response = await axios.get(`http://${window.location.host}/me`);
        user = response.data;
        localStorage.setItem("user", JSON.stringify(user));
      }

      profileImage = document.getElementById("profileImage");
      profileImage.src = user.image[1]["#text"] || "img/avatar.png";
      profileLink = document.getElementById("profileLink");
      profileLink.href = user.url;
    } catch (err) {
    }
  }

  function logout() {
    document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    document.cookie = "session_key=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    location.reload();
  }
</script>