<div class="container mt-4">
  <h4>About the Last.fm Web Scrubbler</h4>
  <p>The Web Scrubbler is a scrobbling service, interfacing with the Last.fm.
    <a href="https://www.last.fm/api/scrobbling" target="_blank""> Scrobbling API.</a>
    There is no warranty and liability
    for the functionality, availability, stability and reliability of this service whatsoever.
    However the service is developed to the best of my knowledge and belief.
  </p>
  <p>
    This source code of this service is publicly available on Github: <a href="
      https://github.com/ThomasSteinbinder/Last.fm-Scrubbler-Web">https://github.com/ThomasSteinbinder/Last.fm-Scrubbler-Web</a>.
    Feel free to inspect the code, make suggestions for improvements and contribute to this repository!
  </p>
  <p>
    This project is heavily inspired by the <a
      href="https://github.com/SHOEGAZEssb/Last.fm-Scrubbler-WPF">Last.fm-Scrubbler-WPF</a> by Tim Stadler. Make sure to
    check out his work aswell.
  </p>
  <p>
    If you enjoy this service, please consider supporting the further development and help bear the hosting costs.
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="hosted_button_id" value="KLQQ7F35EV7M4" />
    <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
      title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
  </form>

  </p>
</div>