<div class="container">
  <h1>Last.fm Web Scrubbler</h1>
  <a class="btn btn-primary" href="https://www.last.fm/api/auth?api_key=<%= API_KEY %>&cb=http://localhost:3000/login"
    role="button">Login via Last.fm</a>
</div>