<div class="video-background-holder">
    <div class="video-background-overlay">

    </div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/videos/music_compressed.mp4" type="video/mp4">
    </video>
    <div class="video-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-4">Last.fm Web Scrubbler</h1>
                <p class="lead mb-0">scrobble anywhere - anytime</p>
                <a id="loginBtn" onclick="login()" class="btn btn-lg btn-primary mt-4" href="" role="button">Login via
                    Last.fm</a>
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .video-background-holder {
        position: relative;
        background-color: black;
        height: 100%;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    .video-background-holder video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .video-background-content {
        position: relative;
        z-index: 2;
    }

    .video-background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }
</style>

<script>
    function login() {
        const loginBtn = document.getElementById("loginBtn");
        loginBtn.href = "https://www.last.fm/api/auth?api_key=<%= API_KEY %>&cb=<%= REDIRECT_URL %>"
    }
</script>