<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrubbler</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</head>

<body>
  <!-- <script>
    const key = localStorage.getItem("session_key");
    if (key) {
      window.location.replace("localhost:3000/home");
    }
  </script> -->

  <div class="container">
    <h1>Last.fm Web Scrubbler</h1>
    <!-- <button type="button" href="https://www.last.fm/api/auth?api_key=<%= API_KEY %>&cb=http://localhost:3000/login" class="btn btn-primary">Login to Last.fm</button> -->
    <a class="btn btn-primary" href="https://www.last.fm/api/auth?api_key=<%= API_KEY %>&cb=http://localhost:3000/login"
      role="button">Login via Last.fm</a>
  </div>

</body>

</html>